{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if current_room %}{{ current_room.name }} - {% endif %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Rooms</h3>
        <ul>
            <li {% if not current_room %}class="selected"{% endif %}>
                <a href="{% url 'shop:home' %}">All</a>
            </li>
            {% for room in rooms %}
                <li {% if room.slug == current_room.slug %}class="selected"{% endif %}>
                    <a href="{{ room.get_absolute_url }}">{{ room.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h3>Categories</h3>
        <ul>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{% url 'shop:product_list_by_category' current_room.slug c.slug %}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
        <div id="main" class="product-list">
        {% if current_room %}
            <h2>{{ current_room.name }}</h2>
        {% endif %}
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
