{% extends "shop/base.html" %}

{% block content %}
<div class="cart-table-area section-padding-100" style="display: flex;justify-content: center;">
    <div class="col-12 col-lg-4">
        <div class="cart-summary">
            <h5>Дякую за замовлення на нашому сайті!</h5>
            <ul class="summary-table">
                <p>Ваше замовлення успішно завершено. Номер вашого замовлення <strong>{{ order.id }}</strong>.
                </p>
                <p>Наш менеджер незабаром зв'яжеться з вами для уточнення деталей вашого замовлення.</p>
            </ul>
        </div>
    </div>
</div>
{% endblock %}